:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(248, 248, 248);
}
/* **** HEADER **** */
header {
  display: flex;
  border: 1px solid rgb(209, 209, 209);
  justify-content: space-between;
  height: 63px;
  background-color: rgb(254, 254, 254);
  opacity: 75%;
  position: fixed;
  width: 100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.header-1 {
  /* border: solid; */
  height: 40px;
  list-style: none;
  display: flex;
  padding: 7px;
  margin-top: 6px;
}
.header-2 {
  /* border: solid; */
  padding: 10px;
  list-style: none;
  display: flex;
  padding: 7px;
  margin-top: 6px;
}
.header-1 li {
  padding: 10px;
  /* border: solid; */
  text-decoration: none;
}
.header-2 li {
  /* border: solid; */
  padding: 10px;
}
.header-1 img {
  width: 40px;
  height: 40px;
  margin-top: -13px;
}
a {
  text-decoration: none;
  color: rgb(8, 8, 8);
  font-size: 14px;
}
a.octodex {
  color: black;
  font-weight: bold;
  margin-left: -20px;
  font-size: 16px;
}
a.home {
  color: rgb(77, 77, 77);
}
/* **** FOOTER **** */
footer {
  border: 1px solid rgb(209, 209, 209);
  width: 100%;
  display: flex;
  color: rgb(77, 77, 77);
  font-size: 14px;
  bottom: 0;
}
div.footer {
  margin-top: 14px;
  margin-left: 20px;
  margin-bottom: 35px;
}
/* **** BODY **** */
section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: space-evenly;
}
/* .cat-1 .cat-2 .cat-3 .cat-4 .cat-5 .cat-6 .cat-7 .cat-8 .cat-9 {
  flex: 1;
} */
.cat {
  flex: 1;
  width: 320px;
  height: 334px;
  justify-content: space-evenly;
  margin: 10px;
  background-color: white;
  border: 1px solid rgb(209, 209, 209);
}
article ul {
  display: flex;
  margin-top: 6px;
  margin-bottom: 18px;
  list-style: none;
  justify-content: space-between;
}
article ul li {
  margin-left: -27px;
  margin-right: 10px;
}
article li:first-child {
  color: rgb(77, 77, 77);
  font-size: 17px;
}
img {
  border-radius: 8px;
}
strong {
  font-size: 15px;
}

/*  less than 700px */
@media all and (max-width: 700px) {
  img.cat {
    width: 368px;
    height: 368px;
  }
}

/* less than 500px */

@media all and (max-width: 480px) {
  img.cat {
    width: 368px;
    height: 368px;
  }
  .github-link {
    display: none;
  }
  .twitter-link {
    display: none;
  }
}
